@page "{PaycheckId?}"
@using EmployeePaycheck.Pages.Shared
@model EmployeePaycheck.Pages.Paycheck.PaycheckEnterIdS1Model

@{ await Html.RenderPartialAsync("_PartialProcessNavigation", new PartialProcessNavigationModel(1)); }

<p>TODO S1</p>
