@page "{PaycheckId}"
@using EmployeePaycheck.Pages.Shared
@model EmployeePaycheck.Pages.Paycheck.PaycheckDetailsS3Model

@{ await Html.RenderPartialAsync("_PartialProcessNavigation", new PartialProcessNavigationModel(3)); }

<p>TODO S3</p>
