@page
@using EmployeePaycheck.Pages.Shared
@model EmployeePaycheck.Pages.Paycheck.PaycheckEnterIdS1Model

@{
    var nonce = HttpContext.GetNonce();
    await Html.RenderPartialAsync("_PartialProcessNavigation", new PartialProcessNavigationModel(1));
}

<form method="post" id="paycheckEnterId" action="" novalidate>

    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div class="alert alert-danger" role="alert">
            @Html.ValidationSummary(false, null, new {@class = "text-danger h4"})
        </div>
    }

    <div class="card">
        <div class="card-content">
            <span class="card-title">Enter the paycheck ID from your payroll</span>

            <div class="row card-text">
                <div class="input-field col col-12 col-md-12">
                    <input type="text" required asp-for="@Model.PaycheckId" id="PaycheckId" />
                    <label for="PaycheckId">Paycheck ID *</label>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="row">
    <div class="col col-12 col-md-auto mb-4 order-last order-md-first">
        <a class="c-button-custom c-button-custom--inverted" href="@Model.AbortPortalUrl">Reset</a>
    </div>
    <div class="col col-12 col-md-auto mb-4 order-first order-md-last">
        <button type="button" id="buttonPaycheckEnterId" value="Submit form" class="c-button-custom">Continue</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/stepperevents.js" asp-append-version="true" nonce="@nonce"></script>
}
