@page "{PaycheckId}"
@using EmployeePaycheck.Pages.Shared
@model EmployeePaycheck.Pages.Paycheck.PaycheckVerifyEmployeeS2Model

@{ await Html.RenderPartialAsync("_PartialProcessNavigation", new PartialProcessNavigationModel(2)); }

<p>TODO S2</p>
