@page "{PaycheckId}"
@using EmployeePaycheck.Pages.Shared
@model EmployeePaycheck.Pages.Paycheck.PaycheckVerifyEmployeeS2Model

@{
    var nonce = HttpContext.GetNonce();
    await Html.RenderPartialAsync("_PartialProcessNavigation", new PartialProcessNavigationModel(2));
}

<div style="text-align: center;">

    <div class="card">
        <div class="card-content">
            <span class="card-title">Validate your employee status</span>

      
        </div>
    </div>

    <div id="message-wrapper" class="margin-bottom-75 margin-top-75" style="display: none">
        <i class="fas fa-user-check green icon-text-large margin-bottom-25"></i>
        <div id="message">Loading...</div>
        <br />
        <div id="subject"></div>
        <br />
        <div id="payload"></div>
    </div>

    <div id="qrText"></div>

    <a id="deeplink" style="display: none;margin-top: 10px;">Tap to open Authenticator on mobile</a>
</div>

<div class="container">
    <div class="row">   
        <div style="width: 300px">
            <div id="qrcode" style="text-align: center"></div>
        </div>
    </div>
</div>

<div id="pinCodeText" style="display: none"></div>

<form method="post" id="verifyEmployeePaycheck" action="" novalidate>
    <input type="hidden" required id="statePresented" name="statePresented"/>
</form>

<script src="qrcode.min.js" nonce="@nonce"></script>
<script src="verifier.js" nonce="@nonce"></script>

<div class="row">
    <div class="col col-12 col-md-auto mb-4 order-last order-md-first">
        <a class="c-button-custom c-button-custom--inverted" href="@Model.AbortPortalUrl">Reset</a>
    </div>
    <div class="col col-12 col-md-auto mb-4 order-first order-md-last">
        <button type="button" id="buttonVerifyEmployeePaycheck" value="Submit form" class="c-button-custom">Continue</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/stepperevents.js" asp-append-version="true" nonce="@nonce"></script>
}
