@page "{PaycheckId}"
@using EmployeePaycheck.Pages.Shared
@model EmployeePaycheck.Pages.Paycheck.PaycheckDetailsS3Model
@{
    var nonce = HttpContext.GetNonce();
    await Html.RenderPartialAsync("_PartialProcessNavigation", new PartialProcessNavigationModel(3));
}

<p>TODO S3</p>


<div class="row">
    <div class="col col-12 col-md-auto mb-4 order-last order-md-first">
        <a class="c-button-custom c-button-custom--inverted" href="@Model.AbortPortalUrl">Reset</a>
    </div>
</div>
