@page "{PaycheckId}"
@using EmployeePaycheck.Pages.Shared
@model EmployeePaycheck.Pages.Paycheck.PaycheckVerifyEmployeeS2Model

@{
    var nonce = HttpContext.GetNonce();
    await Html.RenderPartialAsync("_PartialProcessNavigation", new PartialProcessNavigationModel(2));
}

<p>TODO S2</p>

<form method="post" id="verifyEmployeePaycheck" action="" novalidate>

</form>

<div class="row">
    <div class="col col-12 col-md-auto mb-4 order-last order-md-first">
        <a class="c-button-custom c-button-custom--inverted" href="@Model.AbortPortalUrl">Reset</a>
    </div>
    <div class="col col-12 col-md-auto mb-4 order-first order-md-last">
        <button type="button" id="buttonVerifyEmployeePaycheck" value="Submit form" class="c-button-custom">Continue</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/stepperevents.js" asp-append-version="true" nonce="@nonce"></script>
}
