@page
@model IndexModel
@{
    ViewData["Title"] = "Paycheck viewer";
}

<div class="text-center">
    <h1 class="display-4">Paycheck viewer</h1>
    <p>Use Microsoft Entra Veified ID to view your paycheck</p>
</div>
